{% extends "admin/base_site.html" %}
{% load admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/changelists.css" />
  {{ media.css }}
    <style>
		input[type=text] {
			width: 20em;
		}
		#changelist table {
			margin-bottom: 20px;
		}
		#changelist table thead th {
			padding: 2px;
		}
		#changelist table td {
			vertical-align: middle;
		}
    </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}{% with search as original %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo;
     {% trans "Review" %}
</div>
{% endwith %}
{% endblock %}


{% block coltype %}flex{% endblock %}
{% block site_title %}Contacts Import Review{% endblock %}

{% block content %}

{% if object.status == "processing" %}
<h1>The import is being preparred, please come back later</h1>
{% else %}

<h1>Contacts Import Review</h1>

<p>
	<strong>Template:</strong> <a href="{% url admin:contacts_importtemplate_change object.template.pk %}">{{object.template}}</a><br />
	<strong>Tag import:</strong> {{object.template.tag_import|yesno}}<br />
	<strong>Extra groups:</strong> {% for g in object.template.extra_groups.all%}{% if not forloop.first%}, {%endif%}{{ g }}{% endfor %}<br />
	<strong>Duplicate handling:</strong> {{object.template.get_duplicate_handling_display}}<br /> 
	<strong>Selector columns:</strong> {% for s in object.template.get_selectors %}{{s.header}} ("{{s.value}}"){% endfor%}<br /> 
	<strong>Last deduplication:</strong> {{ object.last_deduplication }}
	<form id="rerun-dedup-form" action="../review/" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
		<input type="submit" name="_deduplicate" value="Re-run deduplication">
	</form><br /> 
</p>
<div id="content-main">
    {% if error %}
    <p class="errornote">
    {{error}}
    </p>
    {% endif %}
    <div class="module{% if filtered %} filtered{% endif %}" id="changelist">
      {% block filters %}
      {% endblock %}
	  <form id="changelist-form" action="../import/" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
	  {% if new %}
	  <h2>New Contacts</h2>
	  <table cellspacing="0">
		  <thead>
			  <tr>
				  <th>Row</th>
				  <th>Import</th>
				  {% for field in new.0.form %}
					<th>{{ field.label_tag }}</th>
				  {% endfor %}
			  </tr>
		  </thead>
		  <tbody>
			  {% for record in new %}
				  <tr>
					  <td style="vertical-align: middle; text-align: center;">{{ record.row }}</td>
					  <td class="js_select" rowspan="{{ record.duplicates|length|add:"1" }}" style="vertical-align: middle; text-align: center; background-color: #fcaf3e">
						  <input type="checkbox" class="action-select" name="_selected_import_{{ record.row }}" checked="checked" />
					  </td>
					  <input type="hidden" name="_selected_merge_contact_{{ record.row }}" value="new" />
					  {% for field in record.form %}
						  <td>{{ field }}</td>
					  {% endfor %}
				  </tr>
				  <tr><td colspan="{{ columns|length|add:"2" }}"></td><tr/>
			  {% endfor %}
		  </tbody>
	  </table>
	  {% endif %}

	  {% if duplicates %}
	  <h2>Potential duplicates</h2>
	  <table cellspacing="0">
		  <thead>
			  <tr>
				  <th>Row</th>
				  <th>Import</th>
				  <th>Merge with:</th>
				  <th></th>
				  {% for field in duplicates.0.form %}
					<th>{{ field.label_tag }}</th>
				  {% endfor %}
			  </tr>
		  </thead>
		  <tbody>
			  {% for record in duplicates %}
				  <tr>
					  <td class="js_select" rowspan="{{ record.duplicates|length|add:"1" }}" style="vertical-align: middle; text-align: center">
						{{ record.row }}
					  </td>
					  <td class="js_select" rowspan="{{ record.duplicates|length|add:"1" }}" style="vertical-align: middle; text-align: center">
						  <input type="checkbox" class="action-select" name="_selected_import_{{ record.row }}">
					  </td>
					  <td class="js_select" style="vertical-align: middle; text-align: center;">
						  <input type="radio" id="_selected_merge_contact_{{ record.row }}_new" class="action-select" value="new" name="_selected_merge_contact_{{ record.row }}">
					  </td>
					  <td style="background-color: #d3d7cf;"></td>
					  {% for field in record.form %}
						  <td style="background-color: #d3d7cf;">{{ field }}</td>
					  {% endfor %}
				  </tr>
				  {% for duplicate in record.duplicates %}
				  <tr>
					  <td class="js_select" style="vertical-align: middle; text-align: center;">
						  <input type="radio" id="_selected_merge_contact_{{ record.row }}_{{ duplicate.contact_id }}" class="action-select" value="update_{{ duplicate.contact_id }}" name="_selected_merge_contact_{{ record.row }}">
					  </td>
					  {% for field in duplicate.fields %}
						  <td>{{ field|safe }}</td>
					  {% endfor %}
					  {% for field in duplicate.form %}
						  <td>{{ field }}</td>
					  {% endfor %}
				  </tr>
				  {% endfor %}
				  <tr><td colspan="{{ columns|length|add:"2" }}"></td><tr/>
			  {% endfor %}
		  </tbody>
	  </table>
	  {% endif %}

	  {% if new or duplicates %}
	  <p class="paginator">
	  <input type="submit" name="_import" class="default" value="Import">
	  </p>

	  {% endif %}

	  {% if imported %}
	  <h2>Imported contacts</h2>
	  <table cellspacing="0" id="imported_list">
		  <thead>
			  <tr>{% for col in imported.0.keys %}<th>{{ col }}</th>{% endfor %}</tr>
		  </thead>
		  <tbody>
			  {% for row in imported %}
			  <tr class="{% cycle 'row1' 'row2' %}" style="background:white;color:grey">
				  {% for key, value in row.items %}
				  <td>{{ value|safe }}</td>
				  {% endfor %}
			  </tr>
			  {% endfor %}
		  </tbody>
	  </table>
	  {% endif %}

      </form>
    </div>
    
  </div>
{% endif %}

<script type="text/javascript" src="{{STATIC_URL}}djangoplicity/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
function toggle_background(td){
	// This functions toggles the background color for checkboxes tds,
	// it expect the td as parameter
}
//$('td.js_select').click(function(event){
//	toggle_background($(this));
//});
$('td.js_select, input[type=radio], input[type=checkbox]').click(function(e){
	e.stopPropagation();
	if ($(e.target).is('input')) {
		var td = $(this).parent();	
		var input = $(this);
	} else {
		var td = $(this);	
		var input = $(td).find('input');
		// Toggle the input
		input.prop("checked", !input.prop("checked"));
	}

	if (input.prop("checked")) {
		// If this is a radio (i.e. "Merge with" column" we need to unset the 
		// background color of other radios' tds with same name
		if (input.prop('type') == 'radio') {
			$('input[name=' + input.prop('name') + ']').each(
				function() {
					$(this).parent().css('background-color', '');
				}
			)
		}
		$(td).css('background-color', '#fcaf3e');
	} else
		$(td).css('background-color', '');

//	toggle_background($(this).parent());
 //   e.stopPropagation();
});
</script>

{% endblock %}
