{% extends "base_onecolumn.html" %}

{% block content %}

<h1>Edit Contact information</h1>

<p>Please verify your contact information below and update if necessary.<br />
Press 'Save' to save the changes.</p>

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
	{{ message }}
</div>
{% endfor %}

<form action="" method="post" id="public-contact-form">
    {% csrf_token %}
	{{ form.non_field_errors }}

{% for field in form %}
	<div class="field-wrapper">
		{{ field.label_tag }} {{ field }}
		{{ field.errors }}
	</div>
{% endfor %}

    <input type="submit" value="Save" />
</form>
{% endblock %}
