{% extends "base_onecolumn.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<h1>Edit Contact information</h1>

<p>Please verify your contact information below and update if necessary.<br />
Press 'Save' to save the changes.</p>

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
	{{ message }}
</div>
{% endfor %}

{% crispy form %}

{% endblock %}

{% block extra_scripts %}
<script async src="{% static 'contacts/js/contacts.js' %}"></script>
{% endblock %}
